$primary-color: #3498db;
$secondary-color: #2ecc71;
$error-color: #e74c3c;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#register-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    a {
        display: block;
        text-align: center !important;
        text-decoration: none;
        margin-top: 30px;
    }
    

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    }
    #status-message {
        color: green;
        margin-top: 8px;
        text-align: center;
    }

    button {
        background-color: $primary-color;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

